{% extends "admin/base_site.html" %}
{% load custom_filters %}

{% block header %}
    <header id="header">
        <div id="branding">
            {% block branding %}
                <div id="branding">
                    <div id="site-name">
                        <a href="/admin/">{{ app_name }}</a>
                    </div>
                </div>
            {% endblock %}
        </div>
        {% block usertools %}
            {{ block.super }}
        {% endblock %}
    </header>
{% endblock %}

{% block nav_sidebar %}
    {{ block.super }}
{% endblock %}

{% block content_title %}
    <h1>{{ report_name }}</h1>
{% endblock %}

{% block content %}
    <!-- Date selection -->
    <form method="post" action="{% url 'trial_balance' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th colspan="3">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="3">Revenue:</th>
            </tr>
            {% for account in revenue_accounts %}
            <tr>
                <td>&nbsp;&nbsp;&nbsp; {{ account.name }}</td>
                <td>&nbsp;</td>
                <td>{{ account.balance|addcomma }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Total Revenue</td>
                <td>&nbsp;</td>
                <td>{{ total_revenue|addcomma }}</td>
            </tr>
            <tr>
                <th colspan="2">Operating Expense:</th>
                <td>&nbsp;</td>
            </tr>
            {% for account in expense_accounts %}
            <tr>
                <td>&nbsp;&nbsp;&nbsp; {{ account.name }}</td>
                <td>{{ account.balance|addcomma }}</td>
                <td>&nbsp;</td>
            </tr>
            {% endfor %}
            <tr>
                <td>Total Expense</td>
                <td>{{ total_expense|addcomma }}</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>Net Income</th>
                <td>&nbsp;</td>
                <td>{{ net_income|addcomma }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}